.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 4px 4px 10px -3px rgba(0,0,0,0.16);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 1 1 calc(20% - 24px);
  margin: 0 12px 25px;
  max-width: calc(20% - 24px);

  &:hover {
    img {
      opacity: 1;
      transition: opacity ease-in 250ms;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 10px;
  }

  &__title {
    font-size: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    h3 {
      font-weight: 400;
      margin: 0;
    }
  }

  &__date {
    font-size: 14px;
    margin: 0 5px 0 0;
  }

  &__meta {
    display: flex;
    justify-content: space-between;
  }

  &__media-type {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__rating {
    font-size: 26px;
    margin-top: auto;
    letter-spacing: 0.07em;
  }

  &__genres {
    font-weight: 500;

    &-list {
      color: $yellow;
      display: flex;
      flex-wrap: wrap;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img {
    align-self: flex-start;
    flex-shrink: 0;
    width: 100%;
  }
}
