.filters {
  background-color: #f2f2f2;
  border-radius: 4px;
  margin-top: -50px;
  margin-bottom: 50px;
  padding-top: 30px;

  &__list {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    text-transform: uppercase;

    li {
      cursor: pointer;

      &:hover {
        color: $yellow;
      }

      &.active {
        color: $yellow;
        border-bottom: 2px solid $yellow;
        padding-bottom: 30px;
      }
    }
  }
}
